<h3>Richiesta di informazioni dal sito</h3>
<p><strong>Nome completo:</strong>{{ fullname }}</p>
<p><strong>Numero di telefono:</strong>{{ tel }}</p>
<p><strong>Email:</strong>{{ email }}</p>
<p><strong>Come pensi che potremmo esserti d'aiuto:</strong>{{ text }}</p>