<header class="components-header">
    {{ navbar }}
    <div>
        <div>
            <h1>{{ header.title }}</h1>
            {% if header.description is not empty %}
            <p>
                {{ header.description }}
            </p>
            {% endif %}
        </div>
    </div>
</header>